<!doctype html>
<html lang="en">
    <head>
        <title>Bank Website</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/style/style.css">
        <link rel="icon" href="/style/favicon.ico">
    </head>
    <body>
        <ul>
            <li><a href="/bank/index">Index</a></li>
            <li><a href="/bank/balance">View account balance</a></li>
            <li><a href="/bank/move-to-adam">Move money to Adam</a></li>
            <li><a href="/bank/kmom06">kmom06</a></li>
        </ul>
    </body>
</html>